<div class="page-header">
  <h1>Detect COVID-19 in seconds!</h1>
  <h2>Upload your X-Ray image to detect COVID-19</h2>
</div>

<div class="container">
  <div class="file-upload-area">
    <div appDragDrop class="uploadfilecontainer" (click)="fileInput.click()" (onFileDropped)="uploadFile($event)">
      <input hidden #fileInput type="file" [accept]="fileTypes.join(',')" (change)="uploadFile($event.target.files)" />
      <div class="drag-drop-content">
        <img src="/assets/cloud.png" />
        <p class="file-upload-text">Upload X-Ray image here</p>
      </div>
    </div>
  </div>

  <div *ngIf="uploadedFile" fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="10px grid">
    <div class="uploaded-image-area" fxFlex="32" fxFlex.xs="100">
      <mat-card>
        <mat-card-title>Test image</mat-card-title>
        <mat-card-content>
          <img class="preview-image" [src]="imgURL" *ngIf="imgURL" />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="result-area" fxFlex="32" fxFlex.xs="100">
      <mat-card *ngIf="result">
        <mat-card-title>Result</mat-card-title>
        <mat-card-content>
          <p><span class="label">COVID-19: </span> 70%</p>
          <p><span class="label">Pneumonia: </span> 32%</p>
          <p><span class="label">Negative: </span> 55%</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="result-image-area" fxFlex="32" fxFlex.xs="100">
      <mat-card *ngIf="result">
        <mat-card-title>Result image</mat-card-title>
        <mat-card-content>
          <img class="preview-image" [src]="resultImgURL" *ngIf="resultImgURL" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ngx-spinner size="medium" type="ball-clip-rotate-pulse">Analyzing...</ngx-spinner>
