.nav {
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;

  .nav-content {
    display: flex;
    margin: auto;
    max-width: 980px;
    width: 100%;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .menu-item {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: #eee;
    font-size: 18px;

    & + .menu-item {
      margin-left: 15px;
    }

    &.active {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }
}

.wrapper {
  margin: auto;
  max-width: 980px;
  padding: 30px 20px 10px;
}
