<mat-toolbar color="primary" class="nav">
  <div class="nav-content">
    <span class="header-title">COVID-19 Detector</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span *ngIf="!authService.loggedIn" class="menu-item" routerLink="/login" routerLinkActive="active">Login</span>
    <span *ngIf="!authService.loggedIn" class="menu-item" routerLink="/signup" routerLinkActive="active">Sign Up</span>

    <span *ngIf="authService.loggedIn" class="menu-item" routerLink="/home" routerLinkActive="active">Home</span>
    <span *ngIf="authService.loggedIn" class="menu-item" routerLink="/archive" routerLinkActive="active">Archive</span>
    <span *ngIf="authService.loggedIn" class="menu-item" (click)="logout()" routerLinkActive="active">Logout</span>
  </div>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
